.main-intro {
	position: absolute;
	left: 10%;
	top: 30%;
	width: 12rem;
	height: 30vh;
	background-color: #eeeeee;
	box-shadow: 5px 5px 25px -5px rgb(0, 0, 0, 0.5);
	border-radius: 15px;
}

.list {
	padding-left: 30px;
	list-style-type: none;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	min-height: 40px;
	display: flex;
	align-items: center;
	border-color: transparent;
	border-bottom: gainsboro;
	color: #457edb;
	text-transform: capitalize;
	border-style: solid;
}
