li {
    padding-left: 30px;
    list-style-type:none;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    border-color: transparent;
    border-bottom: gainsboro;
    color: #457edb;
    text-transform: capitalize;
    border-style: solid;
}

.delete {
    position: absolute;
    cursor: pointer;
    min-height: 30px;
    width: 2rem;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    left: 35%;
    border-radius: 50%;
    font-size: 14px;
    border-color: transparent;
    background-color:#457edb;
    color: white;
    border: none;
    border-style:none;
    outline: none;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
}

.delete:hover{
    background-color: red;
}

.edit-Button {
    position: absolute;
    min-height: 27px;
    width: 2rem;
    text-align: center;
    margin-left: 10%;
    margin-top: -2rem;
    font-size: 14px;
    color: #65C18C;
    background-color: transparent;
}

.edit-Button:hover {
    color: #8BDB81;
    cursor: pointer;
}
.save-Button{
    position: absolute;
    min-height: 27px;
    width: 2rem;
    text-align: center;
    margin-left: 10%;
    margin-top: -2rem;
    font-size: 14px;
    color: #65C18C;
    background-color: transparent;
}
.save-Button:hover {
    color: #8BDB81;
    cursor: pointer;
}