
.main-div{
    width: 100%;
    height: 100vh;
    background: #65C18C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-div {
    width: 30%;
    height: 80vh;
    background-color: #EEEEEE;
    box-shadow: 5px 5px 25px -5px rgb(0,0,0, 0.5);
    border-radius: 15px;
}
.header{
    color: white;
    background: transparent;
    background-color: #457edb;
    padding: 6px 0px 2px 0px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
}
.inputField {
    text-align: center;
    height: 30px;
    top: 10px ;  
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 600;
    width: 60%;
    color: #65C18C;
    border-bottom: 2px solid #457edb;
    outline: none;
}
.addButton {
    /* min-height: 40px; */
    height: 2.5rem;
    cursor: pointer;
    width: 50px;
    text-align: center;
    border-color: transparent;
    background-color: transparent;
    color: #457edb;
}
.addButton:hover {
        color:#8BDB81;
}

.title{
    margin: 10px;
    font-size: small;
    font-weight: 200;

}

.time-div {
    background-color: #457edb;
    color: white;
    padding: 0.8rem;
    border-radius: 35px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
    font-size: 40px;
}

.time-button {
    min-height: 40px;
    width: 150px;
    margin: 30px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    position:absolute;
    top: 25px;
    right: 25px;
    border-color: transparent;
    background-color:#457edb;
    color: white;
    border: none;
    border-style:none;
    outline: none;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
}


.time-button:hover{
    background-color: #204d96;
}